###
### START ignore everything
###
# ignore everything by default
*
# do not ignore directories (still ignores their content)
!*/
# still ignore directories with a leading dot
.*/
# do not ignore .gitignore files
!.gitignore
###
### END ignore everything
###

!*.tex
!/*.cls
!/documents/*.pdf
!/documents/profile.png
!/icon.png
!/LICENCE
!/Makefile


!/.envrc
!/.gitattributes
!/.yamllint.yaml

!*.md
!*.nix
!/flake.{nix,lock}

!/.github/CODEOWNERS
!/.github/**/*.y?ml